

@import './bootstrap.min.css';


.blog-zone {
    background-color:rgba(0,0,0,0);
}

/*Footer section begins*/
footer {
    background: #FF9999;
    min-height: 250px;
    flex-shrink: 0;
    padding: 5% 5% 100px;
    position: relative;
}

footer small{
    
    position: absolute;
    bottom: 30px;
  }
  
  footer p a{
    display: inline-block;
    margin-top: 8px;
    font-weight: 500;
    font-size: 1.1rem;
    color: #000000;
  }
  
  footer p a.contact-link {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  }
  
  footer p a.contact-link:hover {
    color: inherit;
    border-bottom: 1px solid rgba(0,0,0,.2);
    text-decoration:none; 
    transition: 0.1s;
  }
  
  footer .social-icon-list{
    text-align:right;
  }

  footer .social-icon{
    color: #000000;
  }

/*Footer section ends*/


/*Humans of GCT Page begins*/
.poster{
  padding: 7%;
  position: relative;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 3px 12px alpha(black,.2);
  filter: saturate(70%) contrast(85%);
}

.poster:before,
.poster:after {
  content: '';
  width: 100%;
  left: 0;
  position: absolute;
}

.poster:before {
  height: 4%;
  bottom: -4%;
  background-repeat: no-repeat;
  background-image: linear-gradient(177deg, rgba(0,0,0,0.22) 10%, transparent 50%), linear-gradient(-177deg, rgba(0,0,0,0.22) 10%, transparent 50%);
  background-size: 49% 100%;
  background-position: 2% 0, 98% 0;
}

  .card-footer {
      border: 0;
      width:100%;
      background-color: rgba(0, 0, 0, 0);
      border-bottom: 0;
  }

@font-face {
    font-family: 'SjcTitle'; /*a name to be used later*/
    src: url('libel-suit-rg.ttf'); /*URL to font*/
}

@font-face {
  font-family: 'SjcNormal'; /*a name to be used later*/
  src: url('OpenSans-Regular.ttf'); /*URL to font*/
}

.card-title{
    font-family: "SjcTitle" !important;
    font-size: 25px;
    font-weight: bold;
}

.card-text{
  font-family: "SjcNormal" !important;
  font-size: 15px;
  color: #f06262;
}






.post-card .entry-thumb-overlay:hover {
  opacity: 0.14;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=14)";
  -moz-opacity: 0.14;
  -khtml-opacity: 0.14;
}

.post-card:not(.big) .entry-thumb-overlay {
  bottom: -2.5rem;
}
.post-card .entry-thumb-overlay {
  background-color: #fff;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-transition: opacity .4s ease;
  -o-transition: opacity .4s ease;
  transition: opacity .4s ease;
}
.entry-thumb-overlay {
  position: absolute;
  z-index: 101;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


/*Blog pages*/

@media screen and (min-width: 1260px) {
  .blog-container {
    padding-left: 150px;
    padding-right: 150px;
  }
}

.blog-container .sm-12{
  margin-bottom: 2rem;
}

.blog-container p{
  margin-bottom: 0rem;
}
.blog-container .image-description {
  font-style: italic;
  font-weight: 500;
  font-size: 0.95rem;
  color: #888888	;
  display: block;
  text-align: center;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.blog-container p:empty{
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
}

.block-img img{
  width:100%;
  height:auto;
}

.blog-container {
  font-size: 1.2rem;
  line-height: 1.8rem;
}


