@import '~bootstrap/dist/css/bootstrap.min.css';

.blog-zone {
    background-color: blue;
}

/*Footer section begins*/
footer {
    background: #FF9999;
    min-height: 320px;
    flex-shrink: 0;
    padding: 5% 5% 100px;
    position: relative;
}

footer small{
    position: absolute;
    bottom: 20px;
  }
  
  footer p a{
    display: inline-block;
    margin-top: 8px;
    font-weight: 500;
    font-size: 1.1rem;
    color: #000000;
  }
  
  footer p a.contact-link {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  }
  
  footer p a.contact-link:hover {
    color: inherit;
    border-bottom: 1px solid rgba(0,0,0,.2);
    text-decoration:none; 
    transition: 0.1s;
  }
  
  footer .social-icon-list{
    text-align:right;
  }

  footer .social-icon{
    color: #000000;
    
  }

/*Footer section ends*/


/*Humans of GCT Page begins*/
.poster{
  padding: 7%;
  position: relative;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 3px 12px alpha(black,.2);
  filter: saturate(70%) contrast(85%);
}

.poster:before,
.poster:after {
  content: '';
  width: 100%;
  left: 0;
  position: absolute;
}

.poster:before {
  height: 4%;
  bottom: -4%;
  background-repeat: no-repeat;
  background-image: linear-gradient(177deg, rgba(0,0,0,0.22) 10%, transparent 50%), linear-gradient(-177deg, rgba(0,0,0,0.22) 10%, transparent 50%);
  background-size: 49% 100%;
  background-position: 2% 0, 98% 0;
}






